 <div class="container">
    <div class="row">

        <div class="card-body">
						<form class="create-form">
							<div class="form-group">
								<label for="cusName">Full Name</label>
								<input type="text" class="form-control" id="custName" placeholder="Name">
							</div>
							<div class="form-group">
								<label for="cusEmail">Email</label>
								<input type="email" class="form-control" id="custEmail" placeholder="Email">
							</div>

                            <div class="form-group">
								<label for="mobile">Mobile - for Text Notifcations</label>
								<input type="tel" class="form-control" id="custMobile" placeholder="Mobile #">
							</div>
					</div>


        <div class="col-md-12 col-md-offset-3" style="text-align: center;
            padding: 20px;">
            <h2>Menu</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-md">
            <div class="card">
                <h5 class="card-header">Orders</h5>
                <div class="card-body">
                    <table class="table table-bordered" id="orders">
                        <thead>
                            <td>Category</td><td>Item</td><td>Description</td><td>Price</td><td>Note</td><td>Qty</td>
                            <tr>

                                {{#each menu}}
                                <tr"data-id"={{this.dataValues.id}}> <!--ID OF THE ORDER-->
                                    <td>{{this.dataValues.category}} </td>
                                    <td>{{this.dataValues.item}} </td>
                                    <td>{{this.dataValues.description}} </td>
                                    <td>{{this.dataValues.price}} </td>
                                    <td><input type="text" placeholder="Notes"></input></td>
                                    <td><select class="form-control" id="exampleFormControlSelect1">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select></td>
    
                                </tr>
                                {{/each}}


                            </tr>
                        </thead>
                        <tbody>
                        </table>
                        <button type="submit" class="btn btn-primary">Place Order</button>
                        <button type="submit" class="btn btn-secondary">Cancel Order</button>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
